.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #49494B;
    width: 100%;
    height: 8vh;
    margin: 3rem 0;
    position: relative;
    
}   

.logo {
    position: absolute;
    left: 5rem;
    bottom: 0px;
}

.item-menu  {
    color: white;
    margin-Right: 2rem;
}

.avatar {
    width: 2rem;
    height: 2rem;
    margin-right: 5rem;
}


