.wine-register-container form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 5rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: left;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.save-btn {
    width: 5rem;
    padding: .5rem 1rem;
    background: brown;
    border: none;
    color: white;
}